img{
  display: block;
  margin: auto;
}

#text_answer{
  height: 5%;
  width:10%;
}

#submit{
  /*height: 10%;
  width:5%;*/
  background-color: bisque;
  background-color: tomato;     
  margin-left:45%;  
  color: black;
  font-family: verdana, Times New Roman;
}

#continue{
  background-color: cornsilk;
  font-family: verdana, Times New Roman;
}

#start{
  /*height: 10%;
  width:5%;*/
  background-color: coral;
  font-family: verdana, Times New Roman;
}






/*body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
 
}*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:salmon; /*background-color: #333;*/
  text-align:center;
}

li {
    float: left;
  text-align:center
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /*background-color: #111;*/
  background-color:peachpuff;
}

.active {
    /*background-color: #4CAF50;*/
  background-color: papayawhip;
  color: black;
}
/*li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}*/










